<div class="container">
  <div class="mat-elevation-z8" class="table-responsive">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="postTitle">
        <th mat-header-cell *matHeaderCellDef>Post Title</th>
        <td mat-cell *matCellDef="let element">{{ element.postTitle }}</td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let element">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">
              <mat-icon
                (click)="onSelect(element)"
                aria-hidden="false"
                aria-label="Example home icon"
                >pageview</mat-icon
              ></mat-button-toggle
            >
            <mat-button-toggle value="italic">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >edit</mat-icon
              ></mat-button-toggle
            >
            <mat-button-toggle value="underline">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >delete</mat-icon
              ></mat-button-toggle
            >
          </mat-button-toggle-group>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
