<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="postTitle">
        <th mat-header-cell *matHeaderCellDef>postTitle</th>
        <td mat-cell *matCellDef="let element">{{ element.postTitle }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="uploadFile">
        <th mat-header-cell *matHeaderCellDef>uploadFile</th>
        <td mat-cell *matCellDef="let element">{{ element.uploadFile }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="contentType">
        <th mat-header-cell *matHeaderCellDef>contentType</th>
        <td mat-cell *matCellDef="let element">{{ element.contentType }}</td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef>order</th>
        <td mat-cell *matCellDef="let element">{{ element.order }}</td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>url</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>

      <ng-container matColumnDef="access">
        <th mat-header-cell *matHeaderCellDef>access</th>
        <td mat-cell *matCellDef="let element">{{ element.access }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
